lib
publish
dokumente
packages
packages/*
_UpgradeWizard_Files
_ConvertModelWizard_Files
/obj
/bin
*/obj
*/bin
*/*/obj
*/*/bin
*/*/*/obj
*/*/*/bin
*/*/*/*/obj
*/*/*/*/bin
*/*/*/*/*/obj
*/*/*/*/*/bin
*/*/*/*/*/*/obj
*/*/*/*/*/*/bin
*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/bin
*/*/*/*/*/*/*/*/*/obj
*/*/*/*/*/*/*/*/*/bin
/Release
/Debug
*/Release
*/Debug
*/*/Release
*/*/Debug
*/*/*/Release
*/*/*/Debug
*/*/*/*/Release
*/*/*/*/Debug
*/*/*/*/*/Release
*/*/*/*/*/Debug
*/*/*/*/*/*/Release
*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/Debug
*/*/*/*/*/*/*/*/Release
*/*/*/*/*/*/*/*/Debug
/_ReSharper*
/*/_ReSharper*
/*/*/_ReSharper*
/*/*/*/_ReSharper*
*.suo
TestConsole
EXAMPLE
XDepencies
*.sql
*.raw
*.bin
*.key
*.pfx
*.cex
*.exe
*.zip
*.cec5
/CorpusExplorer/NuGet
data
testdata
/CorpusExplorer/CorpusExplorer.Tool4.UglySister.RezeptKorpus
*.licenses
/CorpusExplorer/CorpusExplorer.Tool4.LIWC/German_LIWC2001_Dictionary.dic
/CorpusExplorer/CorpusExplorer.Tool4.write2gether/*.dll
/CorpusExplorer/CorpusExplorer.Tool4.write2gether.Data/*.dll
/CorpusExplorer/CorpusExplorer.Tool4.write2gether.WCFServiceWebRole/*.dll
*.sdmodel
TestResults
CorpusExplorer/.vs/*
XDependencies
pandoc
/Help/~CorpusExplorerV2.dat
*.wav
*.cec6
*.jar
NOCR
*.licx
*.snk
*.dll
/CorpusExplorer/CorpusExplorer.Terminal.Nuxt/plugins/ej2-license.js
/CorpusExplorer/CorpusExplorer.Terminal.Nuxt/plugins/syncfusion.js
/CorpusExplorer/CorpusExplorer.Terminal.Nuxt/syncfusion-license.txt
